/* POPPINS FONT FAMILY */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

.body {
  background: #F5F5F5;
}
/* Header Starts */
header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: #4617fe;
  height: calc(15px + 70vh);
  grid-template-rows: 60px 60vh;
}

/* Navigation Bar */
nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 50px;
}

nav a {
  font-size: 12px;
  margin: 15px;
  cursor: pointer;
}

.nav-item {
  color: #ffffff;
  cursor: pointer;
  font-weight: 600;
}

.nav-item-active {
  background: #ffffff;
  padding: 4px 10px;
  color: #7a5afd;
  font-weight: 900;
  margin-right: 20px;
  border-radius: 2px;
}

/* Image */
.header-image {
  /* position: absolute;
  margin-left: 66px;
  margin-top: 10px; */
  float: right;
  margin-top: 10px;
}

/* Logo */
.logo {
  margin-top: 40px;
  margin-left: 60px;
  cursor: pointer;
}

/* Text */
.header-text {
  margin-left: 60px;
  margin-top: 120px;
}

.header-text h2 {
  font-size: 38px;
  margin-bottom: 10px;
  color: #ffffff;
}

.header-text p {
  font-size: 17px;
  color: #ffffff;
  }

/* Companies */
.companies a {
  text-decoration: none;
  font-family: Righteous;
  margin: 35px;
  font-size: 22px;
  color: #1f1f1f;
  font-weight: 800;
}

.companies {
  margin-left: 25px;
  margin-top: 30px;
}

/* Api Section */

.cards {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  margin-left: 60px;
  margin-right: 40px;
}

.card-head {
  margin-top: 15px;
  margin-bottom: 5px;
}

.card-body {
  font-size: 12px;
  font-weight: 600;
  color: #535255;
}

.card {
  padding: 30px 10px;
  margin-right: 20px;
  background-color: transparent;
  width: 20vw;
  cursor: pointer;
}

.card-active {
  background-color: #ffffff;
  width: 20vw;
  padding: 30px 20px;
  border-radius: 10px;
  box-shadow: 0px 5px 15px rgb(196, 196, 196);
  margin-right: 20px;
  cursor: pointer;
}

.api {
  margin-top: 90px;
}

.api-heading {
  margin-bottom: 40px;
  margin-left: 70px;
  font-size: 38px;
  font-family: sans-serif;
  font-weight: 900;
}

.more-arrow {
  display: inline-block;
  width: 65px;
  height: 50px;
  background: #6842fc;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  margin-top: 90px;
  cursor: pointer;
}
 .more-arrow p {
  display: inline-block;
  font-size: 55px;
  margin-top: -20px;
  color: #ffffff;
 }

.blog-heading {
  margin-bottom: 30px;
  margin-top: 40px;
  margin-left: 70px;
}
.blog-heading h1 {
  font-size: 38px;
  font-family: sans-serif;
  font-weight: 900;
}

.blog-heading h6 {
  float: right;
  color: #6842fc;
  margin-right: 40px;
  margin-top: -20px;
  font-size: 16px;
  cursor: pointer;
}

.blog-cards {
  display: flex;
  flex-direction: row;
  margin-left: 70px;
  background: transparent;
}

.blog-card {
  background-color: #ffffff;
  box-shadow: 0px 5px 15px rgb(196, 196, 196);
  margin-right: 40px;
  border-radius: 70px 10px 10px 10px;
  width: calc(100vw - 150px);
  cursor: pointer;
}
.blog-image {
  margin-bottom: -6px;
  float: left;

}

.blog-content {
  float: right;
  padding-top: 40px;
  width: 20vw;
}
.blog-content h3 {
  font-size: 18px;
  margin: 10px 0;
  font-family: sans-serif;
  font-weight: 900;
}

.blog-content h6 {
  color: #6842fc;
}

.blog-author {
  float: right;
  font-size: 12px;
  margin-right: 40px;
  margin-top: 8px;
  font-family: sans-serif;
  font-weight: 900;
}

.blog-card-bottom-image {
  margin-left: 60px;
  margin-bottom: -70px;
  border: 3px solid #fff;
  border-radius: 50%;
  background-color: #fff;
}

.faq-section {
  height: 55vh;
  margin-top: 80px;
  background: #e9ecfe;
}

.faq-image img {
  float: right;
  height: 55vh;
}

.faq-content {
  float: left;
  padding-left: 70px;
  width: 36vw;
}

.faq-content h2 {
  font-size: 38px;
  font-family: sans-serif;
  font-weight: 900;
  margin-top: 40px;
  margin-bottom: 10px;
  line-height: 1.2em;
}

.faq-content h4:nth-child(2) {
 font-size: 12px;
 margin-bottom: 30px;
}

.faq-content button {
  height: 35px;
  width: 95px;
  border-radius: 3px;
  margin-top: 20px;
  font-size: 10px;
  color: #ffffff;
  background: #5b31fd;
  border: none;
  cursor: pointer;
}

.download-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 40vh;
  align-items: center;
}

.download-content h1 {
  margin-left: 70px;
  font-family: sans-serif;
  font-weight: 900;
}

.download-content span {
  font-weight: 400;
}

.download-email {
  margin-right: 80px;
}

.download-email form {
  display: flex;
  justify-content: space-between;
  background: #e9ecfe;
  width: calc(40vw + 30px);
  height: 54px;
  border-radius: 27px 27px 27px 27px
}

.download-email button {
  margin: 5px;
  border: none;
  width: 150px;
  color: #ffffff;
  border-radius: 22px 22px 22px 22px;
  background: #5b31fd;
  cursor: pointer;
}

.download-email input {
  background: transparent;
  margin-left: 35px;
  border: none;
}

.footer-section {
  height: calc(35px + 35vh);
  background: #4618ff;
}

.footer-left {
  float: left;
  margin-left: 70px;
  margin-top: 13vh;
}

.footer-right {
  float: right;
  margin-right: 40px;
  margin-top: 13vh;
}

.list {
  display: flex;
  flex-direction: row;
  list-style: none;
  font-size: 14px;
  color: #ffffff;
}

.logos-list {
  display: flex;
  flex-direction: row;
  list-style: none;
  font-size: 14px;
  color: #ffffff;
}

.list-items {
  margin-right: 20px;
  margin-top: 30px;
  cursor: pointer;
}

.footer-logos {
  margin-left: 10px;
  cursor: pointer;
}

.footer-logo {
  cursor: pointer;
}
  